// body
// teal link text          #40A977
// brown body text         #66595C
// light brown body text   #9E9B95
// code background         #F8F8F8
// code border             #DDD
// gren button bg          #75BB80, #68A672

// top nav
// background          #584B4F
// white link          #EFEAE1
// teal link hover     #81C08B
// dark/active link    #A29F99

// feature panel
// background #FAF6EC

// footer
// background #EFEAE1

body {
  padding-top: 50px;
}

input,
textarea,
button {
  font: inherit;
}

.form-control:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 2px rgba(102, 175, 233, 0.1);
}

input.ng-invalid.ng-dirty {
  border: 1px solid #dd5555;
}

.nav, .pagination, .carousel, .panel-title, .message-item, a { cursor: pointer; }

/*
 * Main content
 */

.main {
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.main .page-header {
  margin-top: 0;
}

.main-row {
  margin-right: -20px;
  margin-left: -20px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border-right: 1px solid @gray-lighter;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  border-left: 4px solid transparent;
  padding-right: 20px;
  padding-left: 16px;
  color: @gray;
}
.nav-sidebar > .active > a {
  border-left-color: @brand-primary;
  color: @brand-primary;
}
.nav-sidebar > li > a:hover {
  border-left-color: @brand-primary;
  background: #fff;
  color: @gray-dark;
}

.nav-sidebar-heading {
  font-size: @font-size-small;
  color: @gray-light;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-right: 10px;
  padding-left: 18px;
}

.glyphicon {
  padding-right: 2px;
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 2px solid #fff;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -2px;

    // Actual tabs (as links)
    > a {
      font-size: @font-size-small;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-right: 2px;
      line-height: @line-height-base;
      border: 2px solid #fff;
      border-radius: 0;
      &:hover {
        border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-tabs-active-link-hover-color;
        background-color: @nav-tabs-active-link-hover-bg;
        border: 2px solid transparent;
        border-bottom-color: @brand-primary;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    .nav-justified();
    .nav-tabs-justified();
  }
}

//== Tabs
@nav-tabs-border-color:                     #ddd;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @gray;
@nav-tabs-active-link-hover-border-color:   #ddd;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;

//== Pills
@nav-pills-border-radius:                   20px;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;


// Pills
// -------------------------
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: @nav-pills-border-radius;

      &:hover {
        background-color: #e4e4e4;
      }
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-pills-active-link-hover-color;
        background-color: @nav-pills-active-link-hover-bg;
      }
    }
  }
}
