<div class="row main-row segments-header">
    <ul class="nav nav-pills segments-nav-pills">
      <li class="active"><a href="#">Overview</a></li>
      <li><a href="#/segments">New Tracking</a></li>
      <li><a href="#/segments">Exceptions</a></li>
      <li><a href="#/segments">Approvals</a></li>
      <li><a href="#/segments">Resolutions</a></li>
    </ul>
</div>

<div class="row main-row segments-summary">
  <div class="col-xs-8 col-sm-8 col-md-6">
    <h3>Noah's Overview <br><small><span class="glyphicon glyphicon-ok-sign"></span> Status: Verified | Account holder: <a href="#/segments">Firstname Lastname</a></small></h3>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-6">
    <h3 class="text-right"><small>Total Tracking</small><br>$219,600.43</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div google-chart chart="lchart" style="{{lchart.cssStyle}}"></div>
  </div>
  <div class="col-md-6">
    <div google-chart chart="rchart" style="{{rchart.cssStyle}}"></div>
  </div>
</div>

<div class="row main-row">
  <div class="segments-tabs">
    <tabset>
      <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
        {{tab.content}}
      </tab>
    </tabset>
  </div>
</div>

<div class="row main-row segments-data-controls">

</div>

<div class="row main-row">
  <div class="table-responsive">
    <table class="table table-striped table-segments">
      <thead>
        <tr>
          <th></th>
          <th>Number</th>
          <th>Date</th>
          <th>Type</th>
          <th>Meta</th>
          <th>Status</th>
          <th class="text-right">Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td><a href="#/segments">552c37a0352e</a></td>
          <td>Jan 10, 2015</td>
          <td>Passthrough</td>
          <td>E finito colla fine</td>
          <td>In process</td>
          <td class="text-right">$10,820.72 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">b7c731dc3d60</a></td>
          <td>Jan 10, 2015</td>
          <td>Spike Out</td>
          <td>Pensare alla prefazione</td>
          <td>In process</td>
          <td class="text-right">$41,305.00 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">827ded341a85</a></td>
          <td>Jan 10, 2015</td>
          <td>Passthrough</td>
          <td>Misteri della tecnica</td>
          <td>In process</td>
          <td class="text-right">$1,962.00 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">b99ea0f3d025</a></td>
          <td>Jan 10, 2015</td>
          <td>Approval</td>
          <td>Ma il pubblico</td>
          <td>In process</td>
          <td class="text-right">$5,322.00 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">3acf101d9e95</a></td>
          <td>Jan 11, 2015</td>
          <td>Lower Bound</td>
          <td>A propria imagine</td>
          <td><a href="#/segments"><span class="label label-primary">Watch List</span></a></td>
          <td class="text-right">$7,040.00 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">4f46081609ce</a></td>
          <td>Jan 11, 2015</td>
          <td>Passthrough</td>
          <td></td>
          <td>In process</td>
          <td class="text-right">$3,309.48 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">c10a2b35cc02</a></td>
          <td>Jan 11, 2015</td>
          <td>Approval</td>
          <td>Finito Colla</td>
          <td>In process</td>
          <td class="text-right">$16,370.07 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">cb347e25bfd3</a></td>
          <td>Jan 12, 2015</td>
          <td>Anomaly</td>
          <td>Costruiscono un libro</td>
          <td><a href="#/segments"><span class="label label-primary">In Review</span></a></td>
          <td class="text-right">$405.10 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">f576a732ba61</a></td>
          <td>Jan 12, 2015</td>
          <td>Passthrough</td>
          <td>Sia stata pensata</td>
          <td>In process</td>
          <td class="text-right">$2,141.37 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">2d76639aa492</a></td>
          <td>Jan 13, 2015</td>
          <td>Lower Bound</td>
          <td>Quella stessa successione</td>
          <td>In process</td>
          <td class="text-right">$12,054.40 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">a5b805cfec16</a></td>
          <td>Jan 14, 2015</td>
          <td>Approval</td>
          <td>Ad esser composti</td>
          <td>In process</td>
          <td class="text-right">$6,850.00 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">44b10a2ee63e</a></td>
          <td>Jan 14, 2015</td>
          <td>Anomaly</td>
          <td>Misteri della tecnica</td>
          <td><a href="#/segments"><span class="label label-danger">Suspended</span></a></td>
          <td class="text-right">$18,607.30 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">326658f5b2dd</a></td>
          <td>Jan 14, 2015</td>
          <td>Approval</td>
          <td></td>
          <td>In process</td>
          <td class="text-right">$20,110.73 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">566ecbbb3a3b</a></td>
          <td>Jan 14, 2015</td>
          <td>Lower Bound</td>
          <td>Prefazione o il preludio</td>
          <td>In process</td>
          <td class="text-right">$3,500.00 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">50dc61493cdb</a></td>
          <td>Jan 14, 2015</td>
          <td>Passthrough</td>
          <td>Costruiscono un libro</td>
          <td>In process</td>
          <td class="text-right">$31,620.00 USD</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="#/segments">ec9d8d55f80c</a></td>
          <td>Jan 15, 2015</td>
          <td>Upper Bound</td>
          <td>Che stanno sul limitare</td>
          <td>In process</td>
          <td class="text-right">$14,192.06 USD</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
