.segments-header {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f0f0f0;
}

.segments-nav-pills {
  padding: 14px 20px 14px 20px;

}

.segments-tabs {
  padding-left: 15px;
  padding-right: 15px;
}

.segments-summary {
  padding: 4px 15px 10px 15px;
}

.segments-data-controls {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid #e6e6e6;
}
