@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "styles/_base";

@brand-primary:         #2260c0; // #428bca;
@brand-success:         #5bb658;
@brand-info:            #5bc0de;
@brand-warning:         #ecaa3e;
@brand-danger:          #d9532f;

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

@icon-font-path:          "/assets/fonts/";

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;

@input-border-focus:             @gray-light;

@link-hover-color:      lighten(@link-color, 10%);
