.message-list {
  list-style: none;
  text-indent: 0;
  padding: 0;
}

.message-list-heading {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f0f0f0;
  padding-left: 5px;
  margin-top: -4px;
}

.message-list-filter {
  margin-top: 15px;
}

.message-subject {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f0f0f0;
  padding-left: 20px;
  margin-top: -4px;
}

.message-controls {
  display: block;
  padding: 10px 15px 10px 15px;
  // border-bottom: 1px solid #e6e6e6;
}

.message-control-btn {
  color: #5c5c5c;
}

.btn-group-tags {
  margin-left: 10px;
}

.message-list-item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // margin-top: 4px;
  padding: 4px 0 1px 0;
  &:hover {
    color: #555;
    background-color: #f3f3f3;
  }
}

.current {
  color: #2260c0;
}

.message-header-right {
  margin-right: 3px;
}

.message-body {
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.message-reply-frame {
  padding: 5px 0 15px 0;
}

.message-reply-buttons {
  padding: 10px 0 0 0;
}
