<div class="row">

  <div class="col-md-4" ng-controller="MailListingCtrl">

    <div class="row main-row message-list-heading">
      <div class="col-md-4">
        <h3 class="text-muted">Inbox</h3>
      </div>
      <div class="col-md-8 message-list-filter">
        <input ng-model="mailSearch" type="search" class="form-control" style="width:97%" placeholder="Filter messages">
      </div>
    </div>

    <div class="row message-list-item" ng-class="{current: isSelected(mail)}" ng-repeat="mail in (email | orderBy:'sent':true | filter:mailSearch)" ng-click="setSelectedMail(mail)">
      <div class="col-md-8">
        <div class="media">
          <div class="media-body">
            <h5 class="media-heading">{{ mail.from }}</h5>
            <p>{{ mail.subject }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media">
          <div class="media-body">
            <h5 class="media-heading text-right text-muted">{{ mail.sent | date:'M/d'}}</h5>
            <p class="text-right text-muted">{{ mail.sent | date:'h:ss a'}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-8" ng-controller="ContentCtrl">

    <div ng-show="!selectedMail">
      <div class="row main-row message-list-heading">
        <h3 class="text-muted">&nbsp;</h3>
      </div>
    </div>

    <div ng-show="selectedMail">

      <div class="row main-row message-subject">
        <h3>{{ selectedMail.subject }}</h3>
      </div>

      <div class="row message-controls">
        <div class="btn-group">
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span></button>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-flag"></span></button>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-save"></span></button>
        </div>
        <div class="btn-group btn-group-tags">
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tag"></span> Tag</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown for Tags</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Project X</a></li>
            <li><a href="">Folder Y</a></li>
            <li><a href="">System Z</a></li>
            <li class="divider"></li>
            <li><a href="">New Tag</a></li>
          </ul>
        </div>
        <div class="pull-right btn-group">
          <button type="button" class="btn btn-success" ng-click="toggleReplyForm()"><span class="glyphicon glyphicon-share-alt"></span> Reply</button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown for Reply</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Reply All</a></li>
            <li><a href="">Forward</a></li>
          </ul>
        </div>
      </div>

      <div class="message-reply-frame">
        <form id="replyForm" ng-submit="sendEmailReply()" ng-show="showingReply">
          <div class="form-group input-group">
            <span class="input-group-addon">To</span>
            <input ng-model="reply.to" type="email" class="form-control" placeholder="Recipient">
          </div>
          <textarea ng-model="reply.body" class="form-control" rows="6" focus-reply="replyHasFocus">{{ reply.body }}</textarea>
          <div class="message-reply-buttons">
            <button type="button" class="btn btn-primary" ng-click="sendReply()"><span class="glyphicon glyphicon-send"></span> Send</button>
            <button type="button" class="btn btn-default" ng-click="discardReply()"> Discard</button>
          </div>
        </form>
      </div>

      <div class="row message-header">
        <div class="col-md-7">
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" ng-src="/assets/{{selectedMail.id}}.png" width="45" height="45">
            </a>
            <div class="media-body">
              <h5 class="media-heading">{{ selectedMail.from }}</h5>
              <p>{{ selectedMail.email }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="media">
            <div class="media-body message-header-right">
              <h5 class="media-heading text-right"><span class="glyphicon glyphicon-star-empty"></span></h5>
              <p class="text-right">{{ selectedMail.sent | date:'MMM dd, h:ss a'}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="message-body" ng-bind="selectedMail.body"></div>
    </div>

  </div>

</div>
