<h3>Update your settings</h3>

<div class="row">
  <div class="col-md-8">
    <form class="form-horizontal" role="form" name="settingsform" ng-submit="updateSettings()">
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" placeholder="Full Name" name="fullname" ng-model="settings.personName" ng-maxlength=40 required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAge" class="col-sm-2 control-label">Age</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputAge" placeholder="Age" ng-model="settings.personAge">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" ng-model="settings.personEmail">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="settings.personPass">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Checkbox
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" ng-disabled="settingsform.$dirty && settingsform.$invalid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">

    <!-- name input validation messages -->
    <div ng-show="settingsform.fullname.$dirty && settingsform.fullname.$invalid">
      <span ng-show="settingsform.fullname.$error.required">Your name is required</span>
      <span ng-show="settingsform.fullname.$error.maxlength">Your name cannot be greater than 40 characters</span>
    </div>

    <!-- email input validation messages -->
    <div ng-show="settingsform.email.$dirty && settingsform.email.$invalid">
      <span ng-show="settingsform.email.$error.email">A valid email address is required</span>
    </div>

  </div>
</div>
